.side-icons {
  position: fixed;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  right: 20px; // Adjust as needed

  .icon {
    color: #fff;
    background: #0f75c6;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;

    &:hover {
      background: #ccc;
    }

    i {
      font-size: 18px;
    }
  }

  .facebook { background: #3b5998; }
  .phone { background: #25d366; }
  .zalo { background: #0084ff; }
  .contact { background: #ff5722; }
} 